fastapi
uvicorn
pymongo
dnspython
python-dotenv
python-jose[cryptography]
passlib
pydantic
email-validator
python-multipart
langchain-core
langchain-groq
langchain-nvidia-ai-endpoints
langchain-text-splitters
pandas
sentence-transformers
chromadb
scikit-learn
numpy