fastapi
uvicorn
pymongo
dnspython
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic
email-validator
python-multipart

langchain-core
langchain-groq
langchain-text-splitters
langchain-nvidia-ai-endpoints

groq

sentence-transformers
chromadb

pandas
numpy